#menu{
	display: flex;
	width: 100%;
	flex-direction: row;
    justify-content: space-around;
	position: fixed;
	top:0;
	background-color: black;
	z-index: 999;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(182, 0, 0);
}

.flex{
	display: flex;
	flex-direction: row;
}


.center{
	justify-content: center;
}

.large-round-image{
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

#profile{
	column-gap: 10%;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#profile h1{
	margin-top: 50px;
}
